<div class="border p-5 mb-4">
  <div class="d-flex justify-content-between">
    <h1>{{ topic.name }}</h1>
    <div>
      <button
        aria-label="Edit-topic"
        type="button"
        class="btn btn-primary btn-sm"
        >
        <fa-icon
          aria-hidden="true"
          title="Edit Topic"
          [icon]="faEdit"
        ></fa-icon>
      </button>
    </div>
  </div>

  @if (topic.status !== null) {
    <p>
      <b>Status: </b> {{ topic.status | topicStatus }}
    </p>
  }
  @if (topic.comment) {
    <p><b>Description: </b>{{ topic.comment }}</p>
  }
  @if (topic.dueDate) {
    <p><b>Due date: </b> {{ topic.dueDate | date }}</p>
  }
  <div class="border-bottom border-primary mt-3 mb-5"></div>
  <!-- {{ topic?.comments| json }} -->
  @if (comments) {
    @for (comment of comments; track comment) {
      <div class="card mb-3">
        <!-- <div > -->
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ comment.name }}</h5>
            <span>
              <b class="me-2">
                {{ comment.updatedDate | date }}
              </b>
              <button
                (click)="editComment(comment)"
                type="button"
                class="btn btn-primary btn-sm"
                >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </span>
          </div>
          <p class="card-text">{{ comment.text }}</p>
        </div>
      <!-- </div> -->
    </div>
  }
}
@if (topic && topic.id) {
  <div class="mt-5">
    <h2>Add comment</h2>
    <app-create-comment [topicId]="topic.id"></app-create-comment>
  </div>
}
</div>
