<p>topic-form works!</p>

<div [formGroup]="topicsFormGroup">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Topic name</label>
    <input type="email" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" formControlName="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
<button (click)="saveTopic()">Save topic</button>