<div [formGroup]="commentsFormGroup">
  <div class="mb-3">
    <label for="comment-name" class="form-label">Comment title</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      id="comment-name"
    />
  </div>
  <div class="mb-3">
    <label for="comment-text" class="form-label">Text</label>
    <textarea
      class="form-control"
      formControlName="text"
      id="comment-text"
      rows="3"
    ></textarea>
  </div>
</div>
<button (click)="save()" class="btn btn-primary btn-sm">Save Comment</button>
