<router-outlet></router-outlet>
<button (click)="addTopic()" type="button" class="btn btn-primary btn-sm">CreateTopic</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Due Date</th>
      <th scope="col">Resolution</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @let topicsData = topics$ | async;
    @if (topicsData) {
      @for (topic of topicsData.data; track topic) {
        <tr [appDueDateColor]="topic.dueDate" [status]="topic.status">
          <td scope="row">#</td>
          <td>{{ topic.name }}</td>
          <td>{{ topic.comment }}</td>
          <td>{{ topic.dueDate | date }}</td>
          <td>{{ topic.status | topicStatus }}</td>
          <td>
            <div class="d-flex">
              <button
                (click)="editTopic(topic)"
                type="button"
                class="btn btn-primary btn-sm me-1"
                >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <!-- <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="viewTopic(topic)"
              >
              <fa-icon [icon]="faEye"></fa-icon>
            </button> -->
          </div>
        </td>
      </tr>
    }
  }
</tbody>
</table>
