<div class="container">
  <ul class="nav nav-tabs mb-5">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="/main">Dashboard</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="create">Create Topic</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="topics">Topics</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="goals">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="swimlane">Swimlane</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" [routerLinkActive]="['active']" routerLink="topics">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLinkActive]="['active']" routerLink="topics">Supervisors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLinkActive]="['active']" routerLink="topics">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Tags</a>
    </li> -->
  </ul>
</div>
  <router-outlet></router-outlet>