<div class="card p-5">
    <h1>Statuses of topics</h1>
    <p-timeline [value]="events" align="alternate" class="customized-timeline">
        <ng-template #marker let-event>
            <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm" [style]="{ 'background-color': event.color }">
                <!-- <i [class]="event.icon"></i> -->
                 <fa-icon [icon]="faEdit"></fa-icon>
            </span>
        </ng-template>
        <ng-template #content let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow" />
                <p>
                    {{event.description}}
                </p>
                <!-- <p-button label="Read more" [text]="true" /> -->
            </p-card>
        </ng-template>
    </p-timeline>
</div>