/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './styles/index.scss';
@import "@ng-select/ng-select/themes/default.theme.css";

// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";

.red-row {
  td {
    background: rgb(242, 170, 170);
  }
}
.gray-row {
  td {
    background: hsl(39, 85%, 73%);
  }
}

//swimlane styles
ngx-rt .btn {
  height: unset!important;
}

.bg-red {
    background-color: darkred !important;
}