<!-- <section class="section-width" role="dialog" aria-modal="true" aria-describedby="modal-body"> -->
@if (modalHeader || title) {
  <div class="modal-header">
    <ng-container [ngTemplateOutlet]="modalHeader ? modalHeader : defaultHeaderTemplate"></ng-container>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
}
<div class="body modal-body" id="modal-body">
  <ng-content></ng-content>
</div>

<div class="modal-footer">
  <ng-container [ngTemplateOutlet]="modalFooter ? modalFooter : defaultFooterTemplate"></ng-container>
</div>
<!-- </section> -->

<ng-template #defaultFooterTemplate>
  <!-- <button id="dismiss-button" type="button" class="btn-close" aria-label="Close" (click)="dismiss()">Cancel</button> -->
  <!-- <button id="ok-button" type="button" class="btn btn-outline-dark" (click)="close('ok')">Ok</button> -->
</ng-template>

<ng-template #defaultHeaderTemplate>
  @if (title) {
    <h2>{{ title }}</h2>
  }
</ng-template>
